@tailwind base;
@tailwind components;
@tailwind utilities;

#imagePreview {
  margin: 10px;
  max-width: 400px;
  max-height: 400px;
  margin-right: 60px;
}

.disabled {
  display: none;
}

@layer components {
  .button {
    @apply p-6 rounded-xl text-white text-2xl text-center font-bold  cursor-pointer;
  }
}
